#!/bin/sh

datadir="{{ gogs_src | default('/home/git/go/src/github.com/gogits/gogs') }}"

daemon="${datadir}/gogs web"
daemon_user="git"

. /etc/rc.d/rc.subr

pexp="${datadir}/gogs.*"
rc_reload=NO
rc_bg=YES

rc_cmd $1
